.static-aside {
  grid-area: "static-aside";

  .button-controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }

  img {
    height: 250px;
    width: 250px;
    border: var(--border-secondary-clr) 2px solid;
    border-radius: 100%;
    margin-bottom: 2rem;
  }

  li {
    list-style: none;
    font-size: 1.8rem;
    margin: 2.5rem 0;
    font-weight: 700;
  }

  li:hover {
    color: var(--text-secondary-clr);
  }

  h1 {
    font-size: 2.5rem;
  }

  h3 {
    margin: 1rem 0;
    color: var(--text-secondary-clr);
  }

  a {
    text-decoration: none;
    color: var(--text-clr);
  }

  a:hover {
    color: var(--border-secondary-clr);
  }

  .icons-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;

    svg {
      fill: var(--text-clr);
      height: 35px;
      width: 35px;
    }

    svg:hover {
      fill: var(--border-secondary-clr);
    }
  }

  button {
    color: var(--text-clr);
    background-color: var(--base-secondary-clr);
    border: var(--border-secondary-clr) 2px solid;
    padding: 0.5rem 3rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 40px;
    width: 150px;
  }

  button:hover {
    background-color: var(--hover-clr);
  }
  select {
    color: var(--text-clr);
    background-color: var(--base-secondary-clr);
    border: var(--border-secondary-clr) 2px solid;
    padding: 0.5rem;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    display: flex;
    text-align: center;
  }
  select:hover {
    background-color: var(--hover-clr);
  }
}

@media (max-width: 1024px) {
  .static-aside {
    img {
      height: 250px;
      width: 250px;
    }

    .button-controller {
      flex-direction: row;
    }

    .aside-links {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }

    h1 {
      font-size: 2rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    li {
      font-size: 1.5rem;
      margin: 2rem 0;
    }

    .icons-container svg {
      height: 30px;
      width: 30px;
    }
  }
}

@media (max-width: 768px) {
  .static-aside {
    padding: 1rem 0;
  }

  .static-aside .aside-links {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .static-aside .button-controller {
    flex-direction: row;
  }
  .static-aside img {
    height: 250px;
    width: 250px;
  }

  .static-aside h1 {
    font-size: 1.5rem;
  }

  .static-aside h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .static-aside li {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .static-aside .icons-container {
    gap: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .static-aside .icons-container svg {
    height: 25px;
    width: 25px;
  }

  .static-aside button {
    padding: 0.5rem 2rem;

    font-size: 0.9rem;
  }

  .static-aside select {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
