.grid-container {
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: 20vw 59vw 20vw;
  grid-template-areas: "static-aside center right-aside";
  grid-auto-rows: auto;
}

.center-article {
  grid-area: "center";
}

.aside-container {
  top: 0;
  padding: 2rem 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right-aside {
  grid-area: "right-aside";
  justify-items: center;
}

.Card {
  list-style: none;
  background-color: var(--base-secondary-clr);
  padding: 1rem;
  border: var(--border-clr) 2px solid;
  border-radius: 5px;
  margin: 2rem;
  height: 50vh;
}
