@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("./style/colorschemes.css");

* {
  font-family: "Jetbrains Mono", system-ui;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}
